<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендация фильмов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Система рекомендации фильмов</h1>
        <button id="start-btn" class="btn">Выбрать фильм</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>