<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинопоиск</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Пройдите опрос и чтобы получить список фильмов</p>
        <a href="{{ url_for('main.questionnaire') }}" class="btn">Пройти опрос</a>
    </div>
</body>
</html>
